<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hello Swift</title>
    <script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= @api_key %>';
        var sessionId = '<%= @session_id %>';
        var token = '<%= @token %>';
    </script>

</head>
<body>
    <h2>Hello, Swift!</h2>

    <div id="publisher"></div>

    <div id="subscribers"></div>
</body>
</html>