<!doctype html>
<html lang="en">
  <head>
    <title>RealTimeWeekly</title>
  </head>
  <body>
  <script src='http://static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  
  <script type="text/javascript">
    // REMEMBER TO CREATE AN ACCOUNT WITH TOKBOX AND THEN POPULATE YOUR API_KEY, SESSION_ID, AND TOKEN IN THIS CODE
    // Initialize session, set up event listeners, and connect
    var session = OT.initSession('45592332', '1_MX40NTU5MjMzMn5-MTQ2MzczNDUxMTAxOX5Hc2JmcjJQSHZGaVlHT0Q4cmlPZExCZ0h-fg');
    // Connect to our session and publish our feed
    session.connect('T1==cGFydG5lcl9pZD00NTU5MjMzMiZzaWc9NWM3ZjBjYjBlYjAzNDk4MjllNTk4NTZjMmQyM2UwMjZmOTJjNTAwMzpzZXNzaW9uX2lkPTFfTVg0ME5UVTVNak16TW41LU1UUTJNemN6TkRVeE1UQXhPWDVIYzJKbWNqSlFTSFpHYVZsSFQwUTRjbWxQWkV4Q1owaC1mZyZjcmVhdGVfdGltZT0xNDYzNzM0NzUxJm5vbmNlPTAuOTIwNjExODExODAxNzkxMiZyb2xlPXB1Ymxpc2hlciZleHBpcmVfdGltZT0xNDYzNzM4MzQ5', function(error) {
      publisher = OT.initPublisher( "publisher");
      session.publish(publisher);
    });
    // When a client connects, subscribe to its feed
    session.on( {
      streamCreated: function(event) {
        session.subscribe(event.stream, "subscriber");
    }});
  </script>
  <div class="video">
    <div id="publisher"></div>
    <div id="subscriber"></div>
  </div>
</body>
</html>