// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
$tosca:#1fbba6;
body{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
}
.pie{
    width: 250px;
    height: 250px;
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: $tosca;
    border: 2px solid $tosca;
    float: left;
    margin: 2em;
  .block{
    position:absolute;
    background:#fff;
    width:230px;
    height:230px;
    display:block;
    border-radius:50%;
    top:10px;
    left:10px;
  }

}
#time{
  font-size:3em;
  position:absolute;
  top:35%;
  left:43%;
  color:lighten(#000,60%);
}
.degree{
  /*90 + ( 360 * .1 )*/
      background-image:
        linear-gradient(90deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}